
#title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 3em;
    padding-top: 25px;
    text-align: center;
}
#board {
    text-align: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}
td {
    padding: 0;
    width: 100px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
}
button {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 0;
    font-size: 80px;
    vertical-align: middle;

}
